@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Proyecto de Hospitalizacionde Mascotas Grupo 8</h2>

<hr />
<div class="row">
    <div class="col-sm">
        <img src="~/Img/perro.jpg" whith=”200” height="300" class="img-fluid" /><p> Visitas En Casa; Veterinarios que cuidad de la salud de sus mascotas  </p>
    </div>

</div>
<hr />
<div class="wrapper">
    <section class="main">
        <article>
            <h3>Hospitalizacion de Mascotas en Casa</h3>
            <p>Aplicacion web para que el usuario ingrese la informacionde las mascotas,los dueños y la informacion de las visitas medicas Ingreso de Signos Vitales  </p>
                       
        </article>

    </section>
</div>


    